<header class="bg-white shadow-md">
  <div class="container mx-auto px-4 py-4 flex justify-between items-center">
    <h1 class="text-2xl font-bold text-orange-600">IFIT</h1>
    <nav class="space-x-6 text-gray-700 font-medium">
      <a routerLink="/" routerLinkActive="text-orange-600" class="hover:text-orange-600 transition">Início</a>
      <a routerLink="/formulario" routerLinkActive="text-orange-600" class="hover:text-orange-600 transition">Monte seu treino</a>
    </nav>
  </div>
</header>
